<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Order Id</th>
      <th scope="col">Order Date</th>
      <th scope="col">Payment Type</th>
      <th scope="col">Total Amount</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of orderData; let i = index">
    <tr>
      <th>{{ i + 1 }}</th>
      <td>{{ item.OrderId }}</td>
      <td>{{ item.OrderDate | date: "medium" }}</td>
      <td>{{ item.PaymentType | titlecase }}</td>
      <td>{{ prices[i] }} $</td>
    </tr>
  </tbody>
</table>
<!-- "Products": [
      { "ProductId": 124, "Quantity": 2 },
      { "ProductId": 127, "Quantity": 1 },
      { "ProductId": 130, "Quantity": 1 }
    ], -->
