:host::ng-deep {
  nav {
    .container {
      width: 90%;
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      li {
        font-size: 20px;
        text-transform: capitalize;
        padding: 15px;
        a {
          color: #fff;
          padding: 15px;
          &:hover {
            background-color: rgb(36, 109, 131);
          }
        }
      }
    }
  }
}
